<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Book Recommendation</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
    <meta name="author" content="templatemo">
    <!--
	Medigo Template
	http://www.templatemo.com/preview/templatemo_460_medigo
    -->

	<!-- Google Fonts -->
	<link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700itali" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,500,200,100,600" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="static/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="static/css/misc.css">
	<link rel="stylesheet" href="static/css/red-scheme.css">

    <!-- DataTable CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">

	<!-- JavaScripts -->
	<script src="static/js/jquery-1.10.2.min.js"></script>
	<script src="static/js/jquery-migrate-1.2.1.min.js"></script>
	<script>
      $(document).ready(function(){
          $('#Table').DataTable({
            "paging":   true,
            "ordering": true,
            "searching": true,
            "bProcessing" : true,//必须加上这个才能显示加载中的效果
			"bDestroy" : true,
          });
      });
</script>

	<link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon" />

</head>
<body>
	<div class="responsive_menu">
        <ul class="main_menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Portfolio</a>
            	<ul>
            		<li><a href="portfolio.html">Portfolio Grid</a></li>
            		<li><a href="project-image.html">Project Image</a></li>
            		<li><a href="project-slideshow.html">Project Slideshow</a></li>
            	</ul>
            </li>
            <li><a href="#">Blog</a>
				<ul>
					<li><a href="blog.html">Blog Standard</a></li>
					<li><a href="blog-single.html">Blog Single</a></li>
                    <li><a href="#">visit templatemo</a></li>
				</ul>
            </li>
            <li><a href="archives.html">Archives</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul> <!-- /.main_menu -->
    </div> <!-- /.responsive_menu -->

	<header class="site-header clearfix">
		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<div class="pull-left logo">
						<a href="index.html">
							<img src="static/images/logo.png" alt="Medigo by templatemo">
						</a>
					</div>	<!-- /.logo -->

					<div class="main-navigation pull-right">

						<nav class="main-nav visible-md visible-lg">
							<ul class="sf-menu">
								<li class="active"><a href="index.html">Home</a></li>
					            <li><a href="#">Portfolio</a>
					            	<ul>
					            		<li><a href="portfolio.html">Portfolio Grid</a></li>
					            		<li><a href="project-image.html">Project Image</a></li>
					            		<li><a href="project-slideshow.html">Project Slideshow</a></li>
					            	</ul>
					            </li>
					            <li><a href="#">Blog</a>
									<ul>
										<li><a href="blog.html">Blog Standard</a></li>
										<li><a href="blog-single.html">Blog Single</a></li>
                                        <li><a href="#">visit templatemo</a></li>
									</ul>
					            </li>
					            <li><a href="archives.html">Archives</a></li>
					            <li><a href="contact.html">Contact</a></li>
							</ul> <!-- /.sf-menu -->
						</nav> <!-- /.main-nav -->

						<!-- This one in here is responsive menu for tablet and mobiles -->
					    <div class="responsive-navigation visible-sm visible-xs">
					        <a href="#nogo" class="menu-toggle-btn">
					            <i class="fa fa-bars"></i>
					        </a>
					    </div> <!-- /responsive_navigation -->

					</div> <!-- /.main-navigation -->

				</div> <!-- /.col-md-12 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->
	</header> <!-- /.site-header -->

	<section id="homeIntro" class="parallax first-widget">
	    <div class="parallax-overlay">
		    <div class="container home-intro-content">
		        <div class="row">
		        	<div class="col-md-12">
		        		<h2>Book Recommendation</h2>

		        		<table id="Table" class="table table-striped" style="width:100%;color: black">
                        <thead>
                          <tr>
                            <th>排名</th>
                            <th>书名</th>
                            <th>链接</th>
                            <th>信息</th>
                          </tr>
                        </thead>
                        <tbody>
                           {% for row in  entries  %}
                              <tr>
                                <td>{{ row["排名"] }}</td>
                                <td>{{ row["书名"] }}</td>
                                <td>{{ row["链接"] }}</td>
                                <td>{{ row["信息"] }}</td>
                              </tr>
                            {% endfor %}
                            </tbody>
                          </table>

		        		<a href="#" class="large-button white-color">Download Free <i class="icon-button fa fa-download"></i></a>
		        	</div> <!-- /.col-md-12 -->
		        </div> <!-- /.row -->
		    </div> <!-- /.container -->
	    </div> <!-- /.parallax-overlay -->
	</section> <!-- /#homeIntro -->


	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="footer-nav clearfix">
						<ul class="footer-menu">
							<li><a href="index.html">Home</a></li>
							<li><a href="portfolio.html">Portfolio</a></li>
							<li><a href="blog.html">Blog Posts</a></li>
							<li><a href="archives.html">Shortcodes</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul> <!-- /.footer-menu -->
					</nav> <!-- /.footer-nav -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<p class="copyright-text">Copyright &copy; 2084 Company Name
                    | Design: templatemo</p>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer> <!-- /.site-footer -->

	<!-- Scripts -->
	<script src="static/js/min/plugins.min.js"></script>
	<script src="static/js/min/medigo-custom.min.js"></script>

	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>


</body>
</html>
